.additions__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.additions__container-search{
    display: flex;
    justify-content: left;
}

.additions{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    
}

@media (max-width: 768px) {

    .additions__container {
        gap: 1.2rem;
    }

    .additions__container-search {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }

    .additions__container-search > *:first-child,
    .additions__container-search > *:last-child {
        width: 100%;
        flex-shrink: 1;
    }

    .additions {
        gap: 1rem;
        height: auto;
        justify-content: center;
    }
}