.userList__container-global {    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userList__container-top {
    border-radius: 50px ;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.userList__container-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userList__icon-search {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #bdbdbd;
  pointer-events: none; 
  
}

.userList__input-search {
  font-family: "Montserrat";
  font-size: 0.8rem;
  padding: 4px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: #2222221c
}


@media (max-width: 768px){
    .userList__container-global{
        overflow: scroll;
        justify-content: flex-start;
        gap: 0.5rem;
    }
}