.updateAdditionsConfigurations__container-global{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.624);
    display: flex;
    align-items: center;
    justify-content: center;

}

.updateAdditionsConfigurations__container{
    width: 35rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.updateAdditionsConfigurations__container-tittle{
    display: flex;
    justify-content: space-between;
}

.updateAdditionsConfigurations__button-close{
    border: none;
    background-color: transparent;
}

.updateAdditionsConfigurations__button-close:hover{
    cursor: pointer;
}