.productUpdatePage__container-global {

    width: 100%;
    min-height: 100vh;

    display: flex;
    background-color: #F6F7F8;
    justify-content: center;
}



.productUpdatePage__container-content {
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    .productUpdatePage__container-content {
        height: auto;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 5rem;
        margin-bottom: 2rem
    }
}