.buttonFilter {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    background-color: #E53935;
    color: white;
}

.buttonFilter:hover > * {
    color: #bdbdbd;
}

.buttonFilter:hover  {
    color: #bdbdbd;
    background-color: #982523;
}