.buttonButton {

    border: none;
    cursor: pointer;

    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    padding: 9px;
    background-color: #E53935;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;

    transition: color 0.3s, background-color 0.3s;
}

.buttonButton:hover {
    color: #bdbdbd;
    background-color: #982523;
}