.pqrsList__container-global {
    
    
    
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;




}




.pqrsList__container-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

}

.pqrsList__container-card {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border: 4px solid #ededed;
    border-top: 7px solid rgb(255, 187, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.pqrsList__container-card-sub {
    font-family: "Montserrat";
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 1000;
}

.pqrsList__span {
    color: black;
    font-family: "Montserrat";
    font-size: 1.1rem;
    font-weight: 500;
}

.pqrsList__elements {
    color: black;
}

/* ================= FILTROS ================= */

.pqrsList__container-filters {

    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.pqrsList__filter {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #ededed;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    background-color: #fff;
}

.pqrsList__filter:focus {
    outline: none;
    border-color: rgb(255, 187, 0);
}






.pqrsList__table {


    width: 100%;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 0.7rem;
    border-radius: 15px;
    color: black;
    overflow: hidden;


    border-collapse: collapse;
    /* Agrega esto para bordes limpios */

}

.pqrsList__thead {

    background-color: #ededed;
}

.pqrsList__tr {}

.pqrsList__th {



    padding: 7px;
}

.pqrsList__tbody {
    background-color: #fff;
}

.pqrsList__td {

    padding: 7px;
}



.pqrsList__container-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;


}

.pqrsList__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pqrsList__container-actions {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.pqrsList__button-delete,
.pqrsList__button-edit {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.pqrsList__button-delete:hover {
    cursor: pointer;
}

.pqrsList__button-edit:hover {
    cursor: pointer;
}




.pqrsList__container-pages {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.pqrsList__button {
    background-color: transparent;
    border: none;
}

.pqrsList__button:hover {
    cursor: pointer;
}

.pqrsList__p {
    font-family: 'Montserrat';
    color: black;
    font-size: 0.8rem;
}

.pqrsList__button:disabled {
    cursor: no-drop;
}