.createBurger__form {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-right: 28rem;


}

.createBurger__container-image {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #E7DCDC;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createBurger__container-data {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #E7DCDC;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createBurger__container-actions {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #E7DCDC;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.createBurger__container-checks{
    display: flex;
    justify-content: space-between;
}

.createBurger__container-ingredients {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #E7DCDC;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createBurger__container-tittle{
    display: flex;
    justify-content: space-between;
}

.createBurger__button-add{
    border: none;
    font-size: 0.7rem;
    color: red;
    background-color: transparent;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.createBurger__button-add:hover{

    cursor: pointer;
}

.createBurger__container-list{
   
    height: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.createBurger__card-ingredient {
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    color: black;
    font-family: "Montserrat";
    font-size: 0.8rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr 2fr 1.5rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.createBurger__span{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.7rem;
}

.createBurger__container-quantity{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}

.createBurger__button{
    border: none;
    background-color: transparent;
}

.createBurger__button:hover{
    cursor: pointer;
}