.productForm__form {
  border: 4px solid #E7DCDC;
  gap: 20px;
  border-radius: 20px;
  padding: 20px 32px;
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}


.productForm__container-top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid rgb(222, 222, 222);
}

.productForm__container-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productForm__h3 {
  font-family: "Montserrat";
  font-size: 20px;
  color: black;
  margin: 0;
}

.productForm__p {
  color: black;
  font-family: "Montserrat";
  font-size: 12px;
  margin: 0;
}

/* MEDIUM */
.productForm__container-medium {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productForm__container-row {
  flex: 1;
  display: flex;
  gap: 40px;
}

.productForm__container-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.productForm__container-input--full {
  flex: 1;
}

.productForm__label {
  font-family: "Montserrat";
  font-size: 13px;
  color: black;
  font-weight: 700;
}

.productForm__input,
.productForm__textarea {
  height: 40px;
  border: 2px solid #E7DCDC;
  border-radius: 8px;
  color: black;
  padding-left: 10px;
  font-family: "Montserrat";
  font-size: 0.85rem;
}

/* textarea más alto */
.productForm__textarea {
  min-height: 90px;
  padding-top: 8px;
  resize: vertical;
}

/* checkbox disponible */
.productForm__container-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productForm__checkbox {
  width: 16px;
  height: 16px;
}

.productForm__checkbox-text {
  font-family: "Montserrat";
  font-size: 13px;
  color: black;
}

/* BOTTOM */
.productForm__container-buttom {
  height: 70px;
  display: flex;
  justify-content: end;
  border-top: 2px solid rgb(222, 222, 222);
}

.productForm__container-button-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productForm__button-submit {
  font-family: "Montserrat";
  background-color: rgb(255, 187, 0);
  color: #FFFFFF;
  transition: background-color 0.3s;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: 700;
}

.productForm__button-submit:hover {
  cursor: pointer;
  background-color: rgb(225, 168, 8);
}

