.pqrsCreatePage__container-global{
    width: 100%;
    min-height: 100vh;
    background-color: #F8F6F6;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 90px;
    
}

.pqrsCreatePage__container-form{
    
    width: 40%;
    margin-bottom: 40px;
}

.pqrsCreatePage__link{
    
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(225, 168, 8);
    margin-left: 0.8rem;
    display: block;
    margin-bottom: 1rem;
    
}

@media (max-width: 768px) {
    .pqrsCreatePage__container-form{
        width: 90%;
    }
}