.pqrsMePage__container-global {
    width: 100%;
    min-height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;

    background-color: #F6F7F8;

}


.pqrsMePage__container-table {


    width: 75%;
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .pqrsMePage__container-table {


        width: 95%;
        margin-bottom: 40px;
    }
}