.pqrsListPage__container-global {
    width: 100%;
    min-height: 100vh;

    display: flex;
    background-color: #F6F7F8;
}

.pqrsListPage__container-table {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    align-items: center;

}